{% extends "template.html" %}
{%block titulo%}
O que é Django?
{%endblock%}
{% block conteudo%}
    <title></title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{{ STATIC_URL }}static/style.css">
    <main style="color: white;">
    <h1>Nossa Hamburgueria</h1>

    <p>Na [Nome da Hamburgueria], nossa missão é proporcionar uma experiência gastronômica única e saborosa. Desde [ano de fundação], temos nos dedicado a oferecer hambúrgueres artesanais de alta qualidade, preparados com os melhores ingredientes frescos e selecionados.</p>

    <h2>O que nos diferencia?</h2>
    
    <div class="divimg">
        <img class="imgpython"  src="{% static 'hamburguer3.jpg' %}" alt=""> 

    <h3>Ingredientes Frescos e de Qualidade:</h3>
    Nossos hambúrgueres são feitos com carne 100% bovina, sem conservantes, e ingredientes frescos, garantindo sabor e qualidade em cada mordida.

    <h3>Receitas Exclusivas:</h3>
    Cada receita é cuidadosamente desenvolvida pelo nosso chef, combinando sabores tradicionais com toques inovadores, para oferecer uma experiência única.
    
    <h3>Ambiente Acolhedor:</h3>
    Nossa hamburgueria é projetada para ser um lugar onde você se sinta em casa. Um espaço acolhedor e descontraído, perfeito para reunir amigos e família.

    <h3>Opções para Todos os Gostos:</h3>
    Além dos clássicos hambúrgueres de carne, oferecemos opções vegetarianas, veganas e sem glúten, para que todos possam desfrutar.
    <h3>Atendimento de Qualidade:</h3>
    Nossa equipe é treinada para oferecer um atendimento cordial e eficiente, garantindo que sua experiência seja sempre a melhor possível.
    <h2>Venha nos visitar!</h2>  
    <p>Estamos localizados em [endereço], abertos de [dias e horários de funcionamento]. Esperamos por você para uma experiência gastronômica inesquecível. Siga-nos nas redes sociais para ficar por dentro das novidades e promoções exclusivas.</p>
    </main>
     
    <footer style="background-color: #292c37; color: white; text-align: center; padding: 10px 0; position: fixed; width: 100%; bottom: 0;">
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>

</body>

{%endblock%}
