{% extends "template.html" %}
{%block titulo%}
Usuários TI
{%endblock%}
{% block conteudo%}
{% load static %}
    <h2 style="text-align: center; font-size: 25px; font-family: Segoe UI; color:white;">Usuários</h2>
   
    <table>
      <thead>
          <tr>
              <th style="color:white">Nome</th>
              <th style="color:white">Email</th>
              <th style="color:white">Ações</th>
          </tr>
      </thead>

      <tbody>
          {% for usuario in usuarios %}
              <tr>
                  <td style="color:white">{{ usuario.1 }}</td>
                  <td style="color:white">{{ usuario.2 }}</td>
                  <td>
                    <a href="/excluirusuario/{{ usuario.0}}" style="color: red;" class="excluir">Excluir</a>
                    <a href="/editarusuario/{{ usuario.0}}" style="color:blue;" class="editar">Editar</a>
                  
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
    <div class="divimg">
        <img class="imgpython"  src="{% static 'giphy.gif' %}" alt="">
              </div>

<footer style="background-color: #292c37; color: white; text-align: center; padding: 10px 0; position: fixed; width: 100%; bottom: 0;">
    <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
</footer>
{%endblock%}